
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    background:url(../images/fresh-lemon-orchard-seamless-pattern-dark-photography.jpg);
    font-family: "Lato", sans-serif;
    transition: all .5s ease-in-out;
    margin: 0;
    padding: 0;
}


/*---------------------------------------------------------- Colours */




/*---------------------------------------------------------- Nav */

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #fcfcfcf3;
    height: 65px;
    border: 0;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 400;
}



/*---------------------------------------------- Special Paddings / Margins / Text */

.uppercase {
    text-transform: uppercase;
}



/*---------------------------------------------------------- main */

.hero-section {
    height: 50vh;
    position: relative;
    box-sizing: border-box;
}

.res-btn {
    background-color: rgba(12, 72, 35, 0.711);
}

.res-btn:hover,
.res-btn:active,
.res-btn:focus,
.btn:active:focus {
    color: white;
}

.col-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    z-index: 1;
    text-align: center;
    padding: 2rem 5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.926)
}

h1 {
    font-size: 45px;
}

/*---------------------------------------------------------- full body stuff */


