
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    scroll-behavior:smooth;
}

body {
    background:url(../images/fresh-lemon-orchard-seamless-pattern-dark-photography.jpg);
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in-out;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
}

/*---------------------------------------------------------- Nav */

.navbar {
    min-width: 100%;
    background-color: #ffffff;
    height: 100px;
    justify-content: space-between;
    bottom: 10px;
}

.navbar-brand h1 {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: rgba(12, 72, 35, 0.711);
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.navbar-toggler {
    margin-top: -0.5em;
    margin-right: 0.5em;
    border: 2px solid;
}

.navbar-toggler  {
    color: black;
}

.nav-items {
    width: fit-content;
}

.navbar-nav .btn {
    background-color: rgba(12, 72, 35, 0.711);
    
}

#navbarNav {
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: 300;
}

#navbarNav li a {
    margin: 8px;
    color: black;
}

.navbar-toggler {
    margin-top: -0.5em;
    margin-right: 0.5em;
    border: 2px solid;
}


/*---------------------------------------------- Special Paddings */

.uppercase {
    text-transform: uppercase;
}

/*---------------------------------------------------------- main */

.hero-section {
    height: 50vh;
    position: relative;
    box-sizing: border-box;
}

.res-btn {
    background-color: rgba(12, 72, 35, 0.711);
    padding: 5px;
    border-radius: 5px;
}

.res-btn:hover,
.res-btn:active,
.res-btn:focus,
.btn:active:focus {
    color: white;
    border: 2px solid black;
}

.col-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    z-index: 1;
    text-align: center;
    padding: 1rem 5rem;
    border-radius: 10px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
}

.col-header h1 {
    font-size: 40px;
}

.col-header h3 {
    font-size: 32px;
}

/*---------------------------------------------------------- main img */


.food-container {
    margin: 10vh 20vw;
  }
  
.food-image-1 {
    width: 100%;
    margin-top: 25px;
    object-fit: contain;
}

.food-image-2 {
    width: 100%;
    height: 50%;
    max-height: 700px;
    object-fit: contain;
}
  
.food-image-3 {
    width: 100%;
    max-height: 700px;
    padding: 0;
    object-fit: contain;
}
 
.white {
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
}
  

/*---------------------------------------------------------- Footer */

footer div {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.762);
}

footer h2 {
    font-size: .8em;
    margin-bottom: 0.5em;
    margin-right: 1em;
}


footer h3 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.8em;
    margin-bottom: 0.1em;
}

footer h3,
footer p {
    margin-left: 0.5em;
}

footer p {
    font-size: 0.9em;
}

.footer-icon {
    background-color: rgba(12, 72, 35, 0.711);
    width: 3.5em;
    height: 3.5em;
}

.footer-icon a i {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.footer-icon:hover {
    border: 2px solid black;
}


/*---------------------------------------------------------- MENU */

#menu {
    padding-top: 70px;
}

.menu-div {
    background-color: rgba(245, 245, 235, 0.914);
    padding: 2em 3em;
}

.menu-div h3 {
    font-size: 1.25em;
    font-weight: bold;
}

.menu-div p {
    font-size: 15px;
}

.menu-details-left,
.menu-details-right {
    margin-bottom: 5em;
}

/*---------------------------------------------------------- about section */

#our-story {
    font-size: 15px;
    margin: 10px;
}

#our-story h2 {
    padding-bottom: 4px;
}

#writing {
    background-color: rgb(255, 255, 255);
    padding: 13px;
}

#rest-img {
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

/*----------------------------------------------------------Access & Authorisation Forms */

.access-form{
    background-color: rgb(255, 255, 255);
    border: 0.5em solid rgba(12, 72, 35, 0.759);
    margin-top: 2.5em;
}

.access-form a {
    color: black;
    font-weight: bold;
}

.access-form a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(12, 72, 35, 0.759);
    text-decoration: none;
    padding: 3px;
}

.access-form button,
.access-form-input {
    color: ghostwhite;
    background-color: rgba(12, 72, 35, 0.759);
}

.access-form-smalltxt {
    font-size: 0.9em;
}

#id_login,
#id_password,
#id_username {
    width: 50%;
    border: solid rgba(12, 72, 35, 0.759);
    border-radius: 3px;
    padding: 2px;
}

